@model Country
@{
    ViewData["Title"] = $"Remove cities from {Model.Name}";
}

<h1>Remove cities from @Model.Name</h1>
<hr />
<partial name="_GoBackButton" />

@if (Model.Cities == null || Model.Cities.Count == 0)
{
    <div class="text-danger"><em>No cities exists in this country.</em></div>
}
else
{
    <div class="col-8 shadow">
        <h3>Remove cities from @Model.Name</h3>

        <form asp-action="AddCitiesToCountry" asp-controller="Country" class="p-2">
            @Html.AntiForgeryToken()

            <input type="hidden" value="@Model.Id" name="CountryId" />
            <div class="form-group">
                <table class="table table-hover table-active table-striped rounded">
                    <thead>
                        <tr>
                            <th>Add</th>
                            <th>Name</th>
                            <th>Population</th>
                            <th>Postal Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var city in Model.Cities)
                        {
                            <tr>
                                <td><input type="checkbox" name="CitiesId" value="@city.Id" /></td>
                                <td>@city.Name</td>
                                <td>@city.Population</td>
                                <td>@city.PostalCode</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
}