@model List<AppUser>
@{
    ViewData["Title"] = "Users";
}

<h1>All users</h1>
<hr />

<div class="d-block">
    <div class="col-12 shadow border">
        @if (Model == null || Model.Count == 0)
        {
            <div class="text-info">No users could be found. If this is incorrect, please update the page or contact admin.</div>
        }
        else
        {
            <table class="table d-table table-active table-striped table-hover rounded table-responsive flex-wrap overflow-auto small">
                <caption>All users</caption>
                <thead>
                    <tr class="d-table-row">
                        <th class="d-table-cell">Name</th>
                        <th class="d-table-cell">Age</th>
                        <th class="d-table-cell">Email</th>
                        <th class="d-table-cell">E. confirmed</th>
                        <th class="d-table-cell">Phonenumber</th>
                        <th class="d-table-cell">P. confirmed</th>
                        <th class="d-table-cell">Lockout end</th>
                        <th class="d-table-cell">Admin</th>
                        <th class="d-table-cell">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        var admin = user.IsAdmin ? "Yes" : "No";
                        var emailConfirmed = user.EmailConfirmed ? "Yes" : "No";
                        var phoneConfirmed = user.PhoneNumberConfirmed ? "Yes" : "No";

                        <tr class="d-table-row">
                            @if (user.Email == User.Identity.Name)
                            { // For fun
                                <td class="d-table-cell">@user.FirstName @user.LastName <i class="fas fa-user"></i></td>
                            }
                            else
                            {
                                <td class="d-table-cell">@user.FirstName @user.LastName</td>
                            }
                            <td class="d-table-cell">@user.Age</td>

                            <td class="d-table-cell">@user.Email</td>

                            <td class="d-table-cell">@emailConfirmed</td>

                            <td class="d-table-cell">@user.PhoneNumber</td>

                            <td class="d-table-cell">@phoneConfirmed</td>

                            @if (user.LockoutEnd == null)
                            {
                                <td class="d-table-cell">Not locked out</td>
                            }
                            else
                            {
                                <td class="d-table-cell">@user.LockoutEnd</td>
                            }

                            <td class="d-table-cell">@admin</td>

                            <td class="d-table-cell">
                                <a asp-action="Edit" asp-route-id="@user.Id"><i class="fas fa-edit"></i></a>
                                <a asp-action="Profile" asp-route-email="@user.Email"><i class="fas fa-info-circle"></i></a>
                                <a asp-action="Delete" asp-route-id="@user.Id"><i class="far fa-window-close"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>