@model List<AppUser>
@{
    ViewData["Title"] = "Users";
}

<h1>All users</h1>
<hr />

<div class="d-block">
    <div class="col-12 shadow border">
        @if (Model == null || Model.Count == 0)
        { // This is mostly as a check so that it won't throw an exception for trying to do anything with null values.
            <div class="text-info">No users could be found. If this is incorrect, please update the page or contact admin.</div>
        }
        else
        {
            <table class="table table-active table-striped table-hover rounded table-responsive flex-wrap overflow-auto small">
                <caption>All users</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>E. confirmed</th>
                        <th>Phonenumber</th>
                        <th>Lockout end</th>
                        <th>Admin</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        var admin = user.IsAdmin ? "Yes" : "No";
                        var emailConfirmed = user.EmailConfirmed ? "Yes" : "No";

                        <tr>
                            @if (user.Email == User.Identity.Name)
                            { // Just a fun little thing that indicates who the active user is.
                                <td>@user.FirstName @user.LastName <i class="fas fa-user"></i></td>
                            }
                            else
                            {
                            }
                            <td>@user.Age</td>

                            <td>@user.Email</td>

                            <td>@emailConfirmed</td>

                            <td>@user.PhoneNumber</td>

                            @if (user.LockoutEnd == null)
                            {
                                <td>Not locked out</td>
                            }
                            else
                            {
                                <td>@user.LockoutEnd</td>
                            }

                            <td>@admin</td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@user.Id"><i class="fas fa-edit"></i></a>
                                <a asp-action="Profile" asp-route-email="@user.Email"><i class="fas fa-info-circle"></i></a>
                                <a asp-action="Delete" asp-route-id="@user.Id"><i class="far fa-window-close"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>