@model CityCreation
@{
    ViewData["Title"] = "Edit";

    var active = Model.City.Country;
}

<h1>Editing @Model.City.Name</h1>
<hr />

<partial name="_GoBackButton" />

<div class="shadow border col-3">
    <form asp-action="Edit" asp-controller="City">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
        <div class="form-group">
            <label class="control-label" asp-for="City.Name"></label>
            <input class="form-control" asp-for="City.Name" autofocus placeholder="Name" />
            <span class="text-danger font-weight-bold" asp-validation-for="City.Name"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="City.Population"></label>
            <input class="form-control" asp-for="City.Population" type="number" placeholder="Population" pattern="([^0-9]+)([^-]{1})$" />
            <span class="text-danger font-weight-bold" asp-validation-for="City.Population"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="City.PostalCode"></label>
            <input class="form-control" asp-for="City.PostalCode" placeholder="Postal code" />
            <span class="text-danger font-weight-bold" asp-validation-for="City.PostalCode"></span>
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="City.Country"></label>
            <select asp-for="CountryId" class="form-control">
                <option value="@active.Id">@active.Name</option>
                <option value="@null">None</option>

                @foreach (var country in Model.Countries)
                {
                    if (country.Key != active.Id) // Checking for Id since cities can have the same name.
                    {
                        <option value="@country.Key">@country.Value</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm" />
        </div>
    </form>
</div>