@model Person
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<tr class="d-table-row">
    <td class="d-table-cell">@Model.FirstName @Model.LastName</td>
    <td class="d-table-cell">@Model.Age</td>
    <td class="d-table-cell">@Model.Email</td>
    <td class="d-table-cell">@Model.PhoneNumber</td>
    @if (Model.City == null)
    {
        <td class="d-table-cell">
            Homeless
        </td>
    }
    else
    {
        <td class="d-table-cell">
            @Model.City.Name
        </td>
    }
    @if (User.Identity.IsAuthenticated)
    { // This will be used for Person/City/Country and also Account handling.
        <td class="d-table-cell">
            <partial name="_EDD_Buttons" model="@Model.Id" />
        </td>
    }
    else
    { // This will only be used for Person when the user is not signed in.
        <td class="d-table-cell">
            <a asp-action="Details" asp-route-id="@Model.Id"><i class="fas fa-info-circle"></i></a>
        </td>
    }
</tr>