@model PersonUpdate
@{
    ViewData["Title"] = "Create";
}

@{
    var activeCity = Model.Person.City ?? null;
}


<h1>Editing @Model.Person.FirstName</h1>
<hr />
<partial name="_GoBackButton" />

<div class="shadow border col-3 mt-3">
    <form asp-action="Edit" asp-controller="Person" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger font-weight-bold"></div>
        <div class="form-group">
            <label asp-for="Person.FirstName" class="control-label"></label>
            <input asp-for="Person.FirstName" class="form-control" autofocus />
            <span asp-validation-for="Person.FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.LastName" class="control-label"></label>
            <input asp-for="Person.LastName" class="form-control" />
            <span asp-validation-for="Person.LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.Age" class="control-label"></label>
            <input asp-for="Person.Age" class="form-control" />
            <span asp-validation-for="Person.Age"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.Email" class="control-label"></label>
            <input asp-for="Person.Email" class="form-control" />
            <span asp-validation-for="Person.Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.PhoneNumber" class="control-label"></label>
            <input asp-for="Person.PhoneNumber" class="form-control" />
            <span asp-validation-for="Person.PhoneNumber"></span>
        </div>
        <div class="form-group">
            <label asp-for="Person.City" class="control-label"></label>
            <select asp-for="CityId" class="form-control">
                @if (activeCity != null)
                {
                    <option value="@activeCity.Id">@activeCity.Name</option>
                }

                <option value="@null">Homeless</option>

                @foreach (var item in Model.Cities)
                {
                    if (item != activeCity)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="Person.City"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary btn-sm mb-2" />
        </div>
    </form>
</div>